/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
button,
.button {
  display: inline-block;
  padding: .5em 1em;
  margin: 0;
	font-family: 'Bangers', sans-serif;
  font-size: 18px;
	letter-spacing: 1px;
  color: var(--White);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--Purple);
  border: 2px solid var(--Yellow);
	border-radius: 5px;
  transition: all 0.25s linear;

  &:hover,
  &:focus {
		color: var(--Purple);
    background-color: var(--Yellow);
  }

	&.is-filled {
		color: var(--Purple);
    background-color: var(--Yellow);

		&:hover,
		&:focus {
			color: var(--White);
			background-color: var(--Purple);
		}
	}

	&.is-pink {
		border: 2px solid var(--Pink);

		&:hover,
		&:focus {
			color: var(--White);
			background-color: var(--Pink);
		}

		&.is-filled {
			color: var(--White);
			background-color: var(--Pink);

			&:hover,
			&:focus {
				color: var(--White);
				background-color: var(--Purple);
			}
		}
	}

	& + .button,
	& + button {
    margin-left: 1em;
	}
}
