/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/
/* 
	https://css-tricks.com/font-display-masses/
	TLDR: font-display: swap;
	https://css-tricks.com/snippets/css/using-font-face/
	TLDR: use woff and woff2 formats only
*/

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@import url('https://use.typekit.net/yiy7kov.css');

/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.618em;
	margin-bottom: .75em;
	font-family: 'Bangers', sans-serif;
	line-height: 1.2;
	font-weight: 300;
}

h1, .h1 {
	font-size: 45px;
	letter-spacing: 2px;
	line-height: 1;

	@media(--phone) {
		font-size: 60px;
	}
}

h2, .h2 {
	font-size: 40px;
	letter-spacing: 1px;

	@media(--phone) {
		font-size: 45px;
	}
}

h3, .h3 {
	font-size: 30px;
	letter-spacing: 1px;

	@media(--phone) {
		font-size: 36px;
	}

	& span {
		color: var(--Pink);
	}
}

h4, .h4 {
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1px;
}

h5, .h5 {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
}

h6, .h6 {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.5;
	color: var(--Pink);
	text-transform: uppercase;
	letter-spacing: 1.4px;
}

/*-----------------------------------*\
	PARAGRAPH
\*-----------------------------------*/
p {
	font-size: 18px;
}

/*-----------------------------------*\
	STRIKETHROUGH
\*-----------------------------------*/
del {
	text-decoration-thickness: 2px;
	opacity: .5;
}

/*-----------------------------------*\
	INLINE LINKS
\*-----------------------------------*/
p a,
ul a,
ol a {
	color: var(--Yellow);
	text-decoration: none;
	transition: all 0.25s linear;

	&:focus,
	&:hover {
		text-decoration: underline;
	}
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr {
	margin: var(--xLarge) auto;
	border: 1px solid var(--Pink);
	max-width: 480px;
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table {
	margin: var(--Large) auto;
}

/*-----------------------------------*\
	QUOTE
\*-----------------------------------*/
blockquote {
	margin: 1em auto 0;
	width: 90%;
	max-width: 800px;
	padding: 2rem 1rem;
	font-size: 50px;
	line-height: 1.1;
	font-family: 'Bangers', sans-serif;
	text-align: center;
	position: relative;

	&:before {
		content: '';
		max-width: 500px;
		width: 100%;
		height: 4px;
		background-color: var(--Blue);
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	& h2,
	& h3,
	& h4,
	& h5,
	& p {
		font-size: 36px;
		line-height: 1.1;
		margin-bottom: 0;

		@media(--phone) {
			font-size: 50px;
		}
	}

	& cite {
		color: var(--Yellow);
		font-size: 26px;
		line-height: 1.6;
		font-style: normal;

		&:before {
      content: '\2014 \0020';
    }
	}
}

blockquote>*:first-child {
	margin-top: 0;
}

blockquote>*:last-child {
	margin-top: 0;
	margin-bottom: 0;
}

/*-----------------------------------*\
	WP ALIGNMENT
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: 1em auto;
}