/*-----------------------------------*\
	NEWSLETTER
\*-----------------------------------*/
section.instagram {
	text-align: center;

	& > div {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		& svg {
			width: 38px;
			height: 38px;
			margin-bottom: 1em;
			fill: var(--Yellow);

			@media(--tablet) {
				margin-right: 1em;
				margin-bottom: 0;
			}
		}

		& h3 {
			margin-top: 0;

			& a {
				color: var(--Pink);
				text-decoration: none;

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}

	& #sb_instagram {
		display: none;

		@media(--tablet) {
			display: flex;
		}
	}
}