/*-----------------------------------*\
	LANDING PAGE HEADER
\*-----------------------------------*/
header.post-head.lp-head {
	& > div {
		max-width: 960px;
		width: 90vw;
		margin: 0 auto;

		& h1 {
			margin: 1em 0 .5em;
			text-align: center;

			@media(--tablet) {
				text-align: left;
			}
		}

		& video {
			max-width: 100%;
			cursor: pointer;
		}

		& .video-wrap {
			position: relative;
		}

		& .end-overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: rgba(21, 14, 54, 0.75);
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			opacity: 0;
			visibility: hidden;

			&.is-active {
				opacity: 1;
				visibility: visible;
			}

			& h3 {
				margin-top: 0;
				margin-bottom: 1rem;
			}

			& a.button {
				color: var(--White);

				&:hover,
				&:focus {
					text-decoration: none;
					color: var(--Purple);
				}

				&.is-pink {
					&:hover,
					&:focus {
						color: var(--White);
					}
				}
			}
		}

		& .youtube-player {
			position: relative;
			display: block;
			width: 100vw;
			margin: 0;
			margin-left: -5vw;
			overflow: hidden;
			cursor: pointer;

			@media(--tablet) {
				width: 100%;
				margin-left: 0;
			}

			&:hover,
			&:focus {
				& svg {
					transform: translate(-50%, -50%) scale(1.2);
				}
			}

			& iframe {
				height: 300px !important;

				@media(--tablet) {
					height: 478px !important;
				}
			}

			& > svg {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 50px;
				height: 50px;
				box-shadow: 0 2px 5px 0 #150E36;
				border-radius: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;
				transition: 0.25s all linear;

				@media(--phone) {
					width: 90px;
					height: 90px;
				}
			}
		}

		& p {
			font-size: 18px;
			margin: 1rem 0;

			@media(--tablet) {
				font-size: 24px;
				line-height: 1.25;
			}

			&.disclaimer {
				font-size: 16px;
				color: var(--Yellow);
			}
		}
	}
}