/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 200px;
	position: relative;
	padding-top: 150px;
	padding-bottom: 0;

	& h1 {
		margin: 0;
	}
}