/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	padding-top: 2em;
	padding-bottom: 6rem;
	position: relative;

	@media(--tablet) {
		padding-bottom: 2rem;
	}

	& > div {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		width: 90vw;
		max-width: 1200px;

		@media(--tablet) {
			justify-content: space-between;
			align-items: center;
		}

		& > div {
			width: 100%;
			text-align: center;

			@media(--tablet) {
				width: 33.33%;
				order: 2;
				text-align: right;
			}

			&.rating {
				text-align: center;
				padding-bottom: 2em;

				@media(--tablet) {
					padding-bottom: 0;
				}
			}

			&.social {
				padding-bottom: 2em;

				@media(--tablet) {
					padding-bottom: 0;
				}
			}

			& a {
				text-decoration: none;

				&:hover,
				&:focus {
					& svg {
						fill: var(--Yellow);
					}
				}

				& svg {
					width: 24px;
					height: 24px;
					fill: var(--Blue);
					margin: 0 1em;
					transition: .25s all linear;

					&.youtube {
						width: 34px;
					}
				}
			}
		}

		& > a {
			display: none;
			width: 100%;

			@media(--tablet) {
				display: flex;
				width: 33.33%;
				order: 1;
			}

			& svg {
				margin: 0 auto;
				width: 230px;
				height: 100px;

				@media(--tablet) {
					margin: 0;
				}
			}
		}

		& .copyright {
			display: flex;
			flex-wrap: wrap;
			text-align: left;

			@media(--tablet) {
				order: 3;
				width: 70%;
				padding-top: 1em;
			}

			& img {
				margin-bottom: 1.5em;
			}

			& p {
				font-size: 16px;
				width: 100%;
				margin: .25em 0;

				&:last-of-type {
					& a {
						padding-right: 0;
					}
				}

				& a {
					padding-right: 1em;
					text-decoration: none;

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
			}
		}

		& #element5-credit {
			margin-left: auto;
			width: 100%;
			order: 3;
			padding-top: 2em;

			@media(--tablet) {
				width: 30%;
				padding-top: 0;
			}
		}
	}
}