/*----------------------------------------------------------------*\
	SERIES CALLOUT
\*----------------------------------------------------------------*/
section.series-callout {
	background-color: var(--Blue);
	padding: 2em;
	position: relative;

	& > div {
		width: 100%;
		height: 200px;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
		justify-content: center;
		background-image: url('../images/issue-01.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border: 4px solid var(--Yellow);
		box-shadow: 0 0 21px 0 rgba(27,27,27,0.8);

		@media(--tablet) {
			height: 300px;
		}
	}

	& h3 {
		text-align: center;
	}

	& h6 {
		margin: 1em 0 .5em;
		color: var(--Yellow);
	}

	& h4 {
		margin: 0;
	}

	& p {
		font-size: 14px;
		margin: .5em 0;
	}
}