/*-----------------------------------*\
	COUNTDOWN
\*-----------------------------------*/
section.countdown {
	text-align: center;
	position: relative;
	width: 100%;
	margin-bottom: 4em;

	@media(--tablet) {
		width: 90%;
		margin-bottom: 8em;
	}

	&:before {
		/* content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
		width: 100%;
		height: 150%;
		background-image: url(../images/swirl-yellow.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 150%;
		transform: translate(-50%, -50%);

		@media(--tablet) {
			width: 100vw;
			height: 100vw;
			background-size: 829px;
		} */
	}

	& h2 {
		color: var(--Yellow);
		text-align: center;
	}

	& .counter {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
    position: relative;
		z-index: 2;

		&>div {
			width: auto;
			min-width: 55px;
			margin: 0 10px;

			@media(--tablet) {
				min-width: 108px;
			}

			& p {
				margin: 0;
				text-transform: capitalize;
				font-size: 14px;

				@media(--tablet) {
					font-size: 16px;
				}

				& span {
					display: block;
					font-family: 'Bangers', sans-serif;
					font-size: 50px;
					line-height: 1;

					@media(--tablet) {
						font-size: 96px;
					}
				}
			}
		}
	}

	& .twin-box {
		position: relative;
		background-color: var(--Blue);
		padding: 2em;
		margin-top: 15em;

		@media(--tablet) {
			margin-top: 10em;
		}

		&:before {
			content: '';
			position: absolute;
			top: -236px;
			left: 0;
			width: 175px;
			height: 236px;
			background-image: url(../images/mckooktwins-2.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			@media(--tablet) {
				top: -364px;
				left: -5%;
				width: 268px;
				height: 364px;
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: -236px;
			right: 0;
			width: 175px;
			height: 236px;
			background-image: url(../images/mckooktwins.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			@media(--tablet) {
				top: -364px;
				right: -5%;
				width: 268px;
				height: 364px;
			}
		}

		& h3 {
			margin: 0;
		}

		& p {
			max-width: 600px;
			margin: 0 auto;
		}

		& #gform_wrapper_5 {
			margin: 0 auto;
		}
	}
}