/*-----------------------------------*\
	COVER
\*-----------------------------------*/
.cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: var(--xLarge) auto;
	min-height: 40vh;

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: var(--White);
		opacity: .5;
	}

	&.has-no-image {
		background-color: var(--Blue);
		background-image: url('../images/swirl-purple.svg');
		background-size: 150%;
		background-blend-mode: screen;

		&::after {
			display: none;
		}
	}

	&>div {
		width: 80%;
		max-width: 960px;
		position: relative;
		z-index: 2;
		color: var(--White);

		&.media-content {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
		}

		& img {
			width: 100%;
			height: auto;
			order: 2;

			&:first-child {
				margin-bottom: 0;
			}

			@media(--tablet) {
				width: 50%;
				order: 0;
			}
		}

		& div {
			width: 100%;
			padding: 2rem 0;
			text-align: center;

			@media(--tablet) {
				width: 50%;
				padding: 6rem 0;
				text-align: left;
			}

			&>*:first-child {
				margin-top: 0;
				margin-bottom: 1rem;
			}

			&>*:last-child {
				margin-bottom: 0;
			}
		}

		& h2,
		& h3,
		& h4,
		& p {
			color: inherit;
		}

		&>*:first-child {
			margin-top: 0;
			margin-bottom: 1rem;
		}

		&>*:last-child {
			margin-bottom: 0;
		}
	}
}