/*-----------------------------------*\
	LAZYLOAD IMAGES
\*-----------------------------------*/
.blur-up {
	filter: blur(8px);
	transition: all 0.35s linear;
}

.blur-up.lazyloaded {
	filter: blur(0);
	-webkit-filter: blur(0);
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.gallery {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 0;
	margin: var(--xLarge) auto;

	@media(--tablet) {
		width: 90%;
		padding: 0 32px;
	}

	& .gallery-card {
		width: 100%;
		margin-bottom: 4em;

		@media(--tablet) {
			width: 30%;
		}

		& figure {
			width: 100%;
			margin: 0;
			position: relative;
			display: flex;

			& img {
				width: 100%;
				height: auto;
			}

			& .button.download {
				position: absolute;
				bottom: 1em;
				right: 1em;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: var(--Yellow);
				border: none;
				display: flex;
				justify-content: center;
				align-content: center;
				align-items: center;
				padding: 0;

				@media(--tablet) {
					width: 50px;
					height: 50px;
				}

				&:hover,
				&:focus {
					background-color: var(--Blue);

					& svg {
						fill: var(--White);
					}
				}

				& svg {
					fill: var(--Blue);
					width: 18px;
					height: 21px;
					transition: .25s all linear;
				}
			}
		}

		& > div {
			width: 90%;
			margin: 0 auto;

			@media(--tablet) {
				width: 100%;
			}

			& h4 {
				margin-top: .75em;
				margin-bottom: 1em;
			}

			& a {
				color: var(--Yellow);
				text-decoration: none;

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}