/*-----------------------------------*\
	REGISTER
\*-----------------------------------*/
section.register {
	text-align: center;
	position: relative;
	width: 100%;

	@media(--tablet) {
		width: 90%;
	}

	& > div {
		position: relative;
		background-color: var(--Blue);
		padding: 2em 1em;
		background-image: url('../images/swirl-purple.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 150%;
		background-blend-mode: screen;

		@media(--tablet) {
			padding: 4em;
		}

		& h3 {
			margin: 0;
		}

		& .woocommerce-notices-wrapper {
			margin-top: 1em;
		}

		& form {
			text-align: left;

			& #mailchimp_woocommerce_newsletter {
				width: auto;
			}
		}

		& .woocommerce-error li::before {
			display: none;
		}
	}
}