/*-----------------------------------*\
	MEDIA QUERIES IN CORRECT ORDER
\*-----------------------------------*/
@custom-media --phone (min-width: 500px);

@custom-media --tablet (min-width: 800px);

@custom-media --laptop (min-width: 1050px);

@custom-media --desktop (min-width: 1200px);

div {
	@media(--phone) {
		box-sizing: inherit;
	}

	@media(--tablet) {
		box-sizing: inherit;
	}

	@media(--laptop) {
		box-sizing: inherit;
	}

	@media(--desktop) {
		box-sizing: inherit;
	}
}

/*-----------------------------------*\
	HTML/BODY
\*-----------------------------------*/
html {
	box-sizing: border-box;
	font-family: 'Proxima Nova', sans-serif;
	font-size: 16px;
	line-height: 1.618;
	color: var(--White);
	background-color: var(--Purple);
	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

*:focus {
	outline: 1px solid rgba(81, 203, 238, 1);
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/*-----------------------------------*\
	MAIN & ARTICLE
\*-----------------------------------*/
main {
	position: relative;

	&>article {
		margin: var(--xLarge) auto;
	}
}

article>*:first-child {
	margin-top: 0;
}

article>*:last-child {
	margin-bottom: 0;
}

/*-----------------------------------*\
	SECTION SIZES
\*-----------------------------------*/
.standard {
	width: 90%;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.is-narrow {
	width: 90%;
	max-width: 640px;
	margin-right: auto;
	margin-left: auto;
}

.is-wide {
	width: 90%;
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
}

.is-extra-wide {
	width: 90%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.is-full-width {
	width: 100%;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

section {
	margin: var(--Large) auto;
}

section>*:first-child {
	margin-top: 0;
}

section>*:last-child {
	margin-bottom: 0;
}

/*-----------------------------------*\
	DEFAULT WP CLASSES
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: 1em auto;
}

.wp-caption {
	padding-top: 5px;
	margin-bottom: 1.5em;
	text-align: center;
}

.wp-caption img {
	padding: 0;
	margin: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	margin: 0;
	font-size: 10px;
	line-height: 1.5;
}

.wp-smiley {
	max-height: 1em;
	margin: 0 !important;
}

/*-----------------------------------*\
	SEARCH TERM
\*-----------------------------------*/
span.search-term {
  color: var(--Yellow);
}

/*-----------------------------------*\
	SKIP NAV
\*-----------------------------------*/
#skip-to-content {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999999;
	transition: all 0.25s linear;
	transform: translateY(-100%);

	&:focus {
		transform: translateY(0);
	}
}

/*-----------------------------------*\
	GET UPDATES FORM
\*-----------------------------------*/
#gform_wrapper_5 {
	margin: 0;
	width: 100%;
	max-width: 454px;

	& form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		& .validation_error {
			display: none;
		}

		& .errorMessages {
			display: none;
		}

		& .gform_body {
			width: 100%;
			padding-right: 1em;

			@media(--tablet) {
				width: calc(100% - 127px);
			}

			& li.gfield_error .validation_message {
				display: none;
			}

			& input {
				padding: 10px;
			}
		}

		& .gform_footer {
			margin: 0 auto;
			
			& button {
				margin: 0;
			}
		}
	}
}

/*-----------------------------------*\
	STICKY SWIRL
\*-----------------------------------*/
body {
	&:before {
		content: '';
		position: fixed;
		top: -20%;
		left: 50%;
		z-index: -1;
		width: 1000px;
		height: 1000px;
		background-image: url(../images/swirl-purple.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		transform: translateX(-50%);
		opacity: 0.6;

		@media(--tablet) {
			top: -40%;
			width: 1400px;
			height: 1400px;
		}
	}
}

/*-----------------------------------*\
	SHARING
\*-----------------------------------*/
button.activate-share-menu {
	border: none;
	background-color: transparent;
	padding: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;

	&:hover,
	&:focus {
		color: var(--Yellow);
		background-color: transparent;

		& svg {
			fill: var(--Yellow);
		}
	}

	& svg {
		fill: var(--Blue);
		height: 24px;
		width: 24px;
		transition: .25s all linear;
	}
}
.share-overlay {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999999;
	background-color: rgba(21,14,54,0.9);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	transition: .25s all linear;

	&.is-active {
		opacity: 1;
		visibility: visible;
	}

	& > div {
		position: relative;
	}

	& h3 {
		width: 100%;
	}

	& button.close {
		position: absolute;
		top: 0;
		right: -45px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: none;
		background-color: var(--Yellow);
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		padding: 0;

		&:hover,
		&:focus {
			background-color: var(--Blue);

			& svg {
				fill: var(--White);
			}
		}

		& svg {
			width: 12px;
			height: 12px;
			fill: var(--Purple);
		}
	}
}

/*-----------------------------------*\
	BONK POINTS
\*-----------------------------------*/
.points,
.wc-points-rewards-product-message {
	font-family: 'Bangers', sans-serif;
	color: var(--Yellow);
	font-size: 18px;
	margin: 1em 0;
	font-weight: 300;

	& strong {
		position: relative;
		
		&:before {
			content: url('../images/bonk-flower.svg');
			position: absolute;
			top: 50%;
			left: -28px;
			transform: translateY(-50%);
			width: 20px;
			height: 21px;
		}
	}
}

/*-----------------------------------*\
	SGL RATING
\*-----------------------------------*/
.sgl-rating {
	width: 200px;
}

/*-----------------------------------*\
	PRIVACY POLICY TEXT
\*-----------------------------------*/
.woocommerce-privacy-policy-text p {
	font-size: 14px;
}