/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: .25rem;
	--Small: .5rem;
	--Medium: 1rem;
	--Large: 2rem;
	--xLarge: 4rem;
	--White: hsl(0, 0%, 100%);
	--Black: hsl(0, 0%, 0%);
	--Yellow: hsl(66, 89%, 54%);
	--Blue: hsl(250, 59%, 49%);
	--Purple: hsl(250, 59%, 13%);
	--Pink: hsl(325, 86%, 49%);
}