/*----------------------------------------------------------------*\
	ARCHIVES TEMPLATES
\*----------------------------------------------------------------*/
section.issue-grid {
	display: grid;
	grid-column-gap: 3rem;
	grid-row-gap: 3rem;
	grid-template-columns: 1fr;
	margin-top: 4em;

	@media(--tablet) {
		grid-template-columns: repeat(2,1fr);
	}

	@media(--desktop) {
		grid-template-columns: repeat(3,1fr);
	}

	&:first-of-type {
    margin-top: 0;
	}

	& > h2 {
		grid-column-start: 1;
		grid-column-end: 2;
		margin-bottom: 0;

		@media(--tablet) {
			grid-column-end: 3;
		}

		@media(--desktop) {
			grid-column-end: 4;
		}
	}

	& > .woocommerce {
		display: none;
	}

	& .archive-result {
		position: relative;

		& a.issue-card {
			text-decoration: none;

			&:hover,
			&:focus {
				& div.img-wrap {
					& img {
						transform: scale(1.2);
					}
				}

				& > div {
					& h4 {
						color: var(--Yellow);
					}
				}
			}

			& figure {
				margin: 0;
				position: relative;
				border: 4px solid var(--Blue);
				box-shadow: 0 0 21px 0 rgba(27,27,27,0.8);

				& div.img-wrap {
					overflow: hidden;
					display: flex;

					& img {
						width: 100%;
						transition: all .25s linear;
					}
				}

				& .unlocked {
					position: absolute;
					top: -14px;
					right: .5em;
					width: 24px;
					height: 24px;
					background-color: var(--Yellow);
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;

					& svg {
						width: 7px;
						height: 8px;
					}
				}

				& .locked {
					position: absolute;
					top: -14px;
					right: .5em;
					width: 24px;
					height: 24px;
					background-color: var(--Blue);
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;

					& svg {
						width: 7px;
						height: 8px;
					}
				}

				& > .button {
					position: absolute;
					bottom: 1em;
					left: 1em;
					width: 50px;
					height: 50px;
					background-color: var(--Yellow);
					border: none;
					border-radius: 50%;
					padding: 0;
					display: flex;
					justify-content: center;
					align-items: center;

					& svg {
						width: 24px;
						height: 24px;
						transform: translateX(20%);
						fill: var(--Blue);
					}
				}
			}

			& > div {
				position: relative;

				& h4 {
					color: var(--White);
					margin: 0 0 .5rem;
					transition: all .25s linear;
				}

				& p {
					color: var(--White);
					font-size: 14px;
					margin: 0;
				}
			}
		}
		
		& button.activate-share-menu {
			position: absolute;
			bottom: 2rem;
			right: 0;
			z-index: 2;
		}
	}
}

.archive-result,
.search-result {
	& a {
		text-decoration: none;

		&:hover,
		&:focus {
			& h2 {
				color: var(--Yellow);
				text-decoration: underline;
			}
		}

		& h2 {
			color: var(--White);
			margin-bottom: .5em;
			transition: .25s all linear;
		}
	}
}

body.search-results.post-type-archive-bonkapedia {
	& main {
		margin: 0 auto;
		padding: 0 2em;
		display: block;

		& article {
			padding: 0;
			width: 100%;
		}
	}
}
/*-----------------------------------*\
	PAGINATION
\*-----------------------------------*/
nav.pagination {
	margin: var(--xLarge) auto var(--Medium) auto;
	text-align: center;
	font-family: 'Bangers', sans-serif;
	font-size: 22px;
	font-weight: 300;

	& .page-numbers {
		&.current {
			color: var(--Yellow);
		}
	}

	& a {
		margin: 0 var(--Small);
		color: var(--White);
		text-decoration: none;

		&:hover,
		&:focus {
			color: var(--Yellow);
			text-decoration: underline;
		}
	}
}

/*----------------------------------------------------------------*\
	TAXONOMY ARCHIVE
\*----------------------------------------------------------------*/

body.tax-bonk_category,
body.tax-bonk_tag {
	& section.tax-post.featured-post {
		display: flex;
		flex-wrap: wrap;

		& h2 {
			width: 100%;
		}

		& > a {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-bottom: 1.5em;

			@media(--laptop) {
				width: 50%;
			}

			& img {
				width: 82px;
				height: 60px;
				border: 2px solid var(--Yellow);
			}

			& > div {
				padding-left: 1em;

				& h6 {
					font-size: 12px;
				}

				& h3 {
					font-size: 26px;
					margin: 0;
					text-decoration: underline;
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
	BONKAPEDIA ARCHIVE
\*----------------------------------------------------------------*/
body.post-type-archive-bonkapedia,
body.tax-bonk_category,
body.tax-bonk_tag {
	& main {
		display: flex;
		flex-wrap: wrap;
		margin: 120px auto var(--xLarge) ;

		@media(--tablet) {
			margin: 150px auto var(--xLarge) ;
		}

		& > aside {
			width: 100%;

			@media(--tablet) {
				width: 285px;
			}

			& h1 {
				margin: 0 0 2rem;
			}

			& form {
				margin: 2em 0 0;
				display: flex;
				flex-wrap: wrap;

				& button {
					margin-top: 1em;
					margin-left: auto;
				}
			}

			& > a {
				color: var(--White);
				transition: .25s all linear;

				&:hover,
				&:focus {
					color: var(--Yellow);
				}

				& h4 {
					margin: 1.5rem 0;
					font-size: 26px;
				}
			}
		}

		& > article {
			width: 100%;
			margin: var(--Medium) auto;

			@media(--tablet) {
				width: calc(100% - 285px);
				padding: 0 4rem;
			}

			& section.featured-post {
				& > h2 {
					margin-top: 0;

					@media(--tablet) {
						margin-top: 1.618em;
					}
				}

				& > a {
					text-decoration: none;

					&:hover,
					&:focus {
						& h3 {
							color: var(--Yellow);
						}
					}

					& h2 {
						color: var(--Yellow);
						margin-top: 1em;

						@media(--tablet) {
							margin-top: 1.618em;
						}
					}

					& img {
						width: 100%;
						height: 320px;
						object-fit: cover;
					}

					& h6 {
						font-size: 14px;
						margin-top: 1em;
						margin-bottom: 0;
					}

					& h3 {
						margin-top: .5rem;
						color: var(--White);
						transition: .25s all linear;
					}
				}

				& a.tag {
					color: var(--Yellow);
					text-decoration: none;
					font-size: 18px;
					transition: .25s all linear;

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

body.tax-bonk_category main > aside,
body.tax-bonk_tag main > aside {
	& form {
		display: none;

		@media(--tablet) {
			display: flex;
		}
	}

	& > a {
		display: none;

		@media(--tablet) {
			display: block;
		}
	}
}