/*----------------------------------------------------------------*\
	CONFIRMATION TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-confirmation {
	& main > article {
		padding-top: 10em;
		
		& h1 {
			font-size: 100px;
			margin: 0;
		}
	}
}