/*----------------------------------------------------------------*\
	404 TEMPLATE
\*----------------------------------------------------------------*/
body.error404 {
	& main > article {
		padding-top: 10em;
		
		& h1 {
			font-size: 145px;
			margin: 0;
		}
	}
}