/*----------------------------------------------------------------*\
		PRODUCT
\*----------------------------------------------------------------*/
body.single-product {
	&.woocommerce div.product .product_title {
		margin: 0;
	}
	&.woocommerce div.product .sale {
		color: var(--Pink);
		font-family: 'Bangers', sans-serif;
		margin-left: 0;

		@media(--tablet) {
			margin-left: 4%;
		}
	}
	&.woocommerce div.product p.price,
	&.woocommerce div.product span.price {
		color: var(--Yellow);
		font-size: 24px;
		font-weight: 300;
		line-height: 1;
	}
	&.woocommerce div.product form.cart .variations label {
		font-size: 16px;
		font-weight: 400;
		margin: 0;
		padding: 3px 0;
	}
	&.woocommerce div.product form.cart .reset_variations {
		color: var(--Yellow);
	}
	&.woocommerce div.product form.cart .single_variation_wrap .woocommerce-variation-price {
		display: none;
	}
	& .woocommerce-variation-add-to-cart.variations_button {
		text-align: right;
	}
	& .product_cat-issue,
	& .product_cat-series {
		& form.cart {
			text-align: right;

			& .button {
				margin-top: 1em;
			}
		}

		& .qty {
			display: none;
		}
	}
	& .qty {
    display: inline-block;
	}
	&.woocommerce div.product form.cart div.quantity {
		float: inherit;
		margin: 0 18px 2em;
		display: inline-block;
	}
	&.woocommerce div.product form.cart .button {
		float: inherit;
		border-color: var(--Pink);
		background-color: var(--Pink);
		padding: .5em 1em;

		&:hover,
		&:focus {
			color: var(--Purple);
			background-color: var(--Yellow);
			border-color: var(--Yellow);
		}
	}
	&.woocommerce .single_add_to_cart_button.button.alt.disabled.wc-variation-selection-needed {
		&:hover,
		&:focus {
			background-color: var(--Purple);
		}
	}
	&.woocommerce div.product div.images img {
		margin: 0;
		border: 4px solid var(--Blue);
		padding: 1em;
		background-color: rgba(255,255,255,0.3);
		transition: .25s all linear;
	}
	&.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
		margin-top: 2em;
	}
	& .button-wrapper #chart-button {
		color: var(--Yellow);
		text-decoration: underline;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	& .md-size-chart-modal-body {
		background-color: var(--Purple);
		color: var(--White);
		padding: 1em 2em;
	}
	& table#size-chart tr th {
		background-color: var(--Pink);
	}
	& table#size-chart tr td {
		background-color: var(--Blue);
	}
	& #size-chart tr:nth-child(2n+1) {
		background-color: var(--Blue);
	}
	& div#md-size-chart-modal .remodal-close {
		border-radius: 50%;
	}
}