/*----------------------------------------------------------------*\
	SINGLE ISSUE TEMPLATE
\*----------------------------------------------------------------*/
body.single-issue {
	& main > article {
		margin: 120px auto var(--xLarge) ;

		@media(--tablet) {
			margin: 150px auto var(--xLarge) ;
		}

		& section.issue {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;

			@media(--tablet) {
				width: 90%;
			}

			& > div {
				width: 90%;
				order: 2;
				margin: 0 auto;

				@media(--tablet) {
					width: 100%;
				}

				@media(--laptop) {
					width: 40%;
					order: 0;
				}

				& h6 {
					font-size: 16px;
					margin-top: .5em;
				}

				& h1 {
					margin-top: 1rem;
					margin-bottom: 2rem;
				}

				& button.activate-share-menu {
					margin: 2em 0;

					& svg {
						margin-right: .5em;
					}
				}

				& > div {
					& h4 {
						margin-bottom: .5rem;
					}

					& a {
						color: var(--Yellow);
						text-decoration: none;

						&:hover,
						&:focus {
							text-decoration: underline;
						}
					}
				}
			}

			& > div.video-wrap {
				width: 100%;
				order: 1;
				display: flex;
				flex-wrap: wrap;
				position: relative;
				text-align: center;
				align-self: flex-start;
				align-items: flex-start;
				margin-bottom: 2em;

				@media(--laptop) {
					width: 55%;
					margin-bottom: 0;
				}

				& img {
					width: 100%;
					height: 42vh;
					object-fit: cover;

					@media(--tablet) {
						height: auto;
						object-fit: inherit;
					}
				}

				& .series-upsell ~ .end-overlay {
					height: calc(100% - 128px);

					@media(--phone) {
						height: calc(100% - 83px);
					}
				}

				& .end-overlay {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					background-color: rgba(21, 14, 54, 0.75);
					z-index: 2;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					opacity: 0;
					visibility: hidden;

					&.is-active {
						opacity: 1;
						visibility: visible;
					}

					& h3 {
						margin-top: 0;
						margin-bottom: 1rem;
					}

					& a.button {
						color: var(--White);

						&:hover,
						&:focus {
							text-decoration: none;
							color: var(--Purple);
						}

						&.is-pink {
							&:hover,
							&:focus {
								color: var(--White);
							}
						}
					}
				}

				& .video-overlay {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					background-color: rgba(21, 14, 54, 0.75);
					z-index: 2;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;

					& h3 {
						margin-top: 0;
					}

					& a.button {
						color: var(--White);

						&:hover,
						&:focus {
							text-decoration: none;
							color: var(--Purple);
						}

						&.is-pink {
							&:hover,
							&:focus {
								color: var(--White);
							}
						}
					}
				}

				& video {
					width: 100%;
					height: 100%;
					cursor: pointer;
				}

				& #skip-intro {
					position: absolute;
					bottom: 3em;
					right: 1em;
					z-index: 2;
					transition: .25s all linear;
					opacity: 0;
					visibility: hidden;

					&.upsell {
						bottom: 10em;

						@media(--phone) {
							bottom: 8em;
						}
					}

					&.is-visible {
						opacity: 1;
						visibility: visible;
					}
				}

				& .series-upsell {
					display: flex;
					flex-wrap: wrap;
					width: 100%;
					justify-content: center;
					align-content: center;
					align-items: center;
					padding-top: 2em;

					& h4 {
						width: 100%;
						margin-top: 0;
						margin-bottom: 1rem;

						@media(--phone) {
							width: auto;
							margin-bottom: 0;
						}
					}

					& a.button {
						color: var(--White);

						@media(--phone) {
							margin-left: 1.5em;
						}

						&:hover,
						&:focus {
							text-decoration: none;
							color: var(--Purple);
						}
					}
				}
			}
		}
	}
}
/*----------------------------------------------------------------*\
	SINGLE BONKAPEDIA TEMPLATE
\*----------------------------------------------------------------*/
body.single-bonkapedia {
	&:before {
		opacity: 0.7;
	}

	& main > article {
		margin: 0 0 var(--xLarge);
		width: 100%;

		@media(--tablet) {
			margin: 150px auto var(--xLarge);
			width: 90%;
		}

		& img {
			width: 100%;
		}

		& > div.standard {
			padding: 0;
			position: relative;

			@media(--tablet) {
				padding: 0 55px;
			}

			& > a {
				color: var(--Yellow);
				text-decoration: none;
				display: block;

				&:hover,
				&:focus {
					text-decoration: underline;
				}

				&.tag {
					display: inline-block;
				}

				&.product-card {
					width: 100%;
					display: inline-block;
					margin-bottom: 2em;

					@media(--tablet) {
						width: calc(50% - 2em);
						margin-right: 2em;
					}

					@media(--laptop) {
						width: calc(25% - 2em);
					}

					&:hover,
					&:focus {
						border-color: var(--Yellow);
					}

					& img {
						margin: 0;
						border: 4px solid var(--Blue);
						padding: 1em;
						background-color: hsla(0,0%,100%,.3);
						transition: all .25s linear;
					}
				}
			}
		}

		& .title-wrap {
			position: relative;
			margin-top: 3em;

			@media(--tablet) {
				margin-top: 0;
			}

			& h1 {
				margin: 1rem 0;
				font-size: 45px;
			}

			& a {
				display: flex;
				position: absolute;
				top: -1.5em;
				transform: translateY(-50%);

				@media(--tablet) {
					top: 50%;
				}

				&[rel="prev"] {
					right: 0;
					transform: scaleX(-1) translateY(-50%);

					@media(--tablet) {
						right: -55px;
					}
				}

				&[rel="next"] {
					left: 0;

					@media(--tablet) {
						left: -55px;
					}
				}

				& svg {
					width: 32px;
					height: 32px;
				}
			}
		}

		& button.activate-share-menu {
			margin: 2em 0;

			& svg {
				margin-right: .5em;
			}
		}

		& .the-cult {
			display: flex;
			position: absolute;
			bottom: -4rem;
			right: 0;

			& svg {
				opacity: .2;
				width: 24px;
				height: 24px;
			}
		}
	}
}