/*----------------------------------------------------------------*\
	MISCELLANEOUS WOOCOMMERCE PAGES, SECTIONS, AND ELEMENTS
\*----------------------------------------------------------------*/
.woocommerce-message {
	& .button {
		display: block;
		float: none;
		margin: 0 0 var(--Medium) 0;
		text-align: center;

		@media(--phone) {
			float: right;
			margin: 0;
		}
	}
}
.woocommerce-error li {
	background-image: none;
}
.woocommerce-edit-address ul li {
	background-image: none;
}
.select2-selection {
	height: 45px !important;
	padding: 8px 4px;
}
.select2-selection__arrow {
	top: 10px !important;
}
body.woocommerce-page {
	& #primary.content-area {
    display: grid;
	}
	& main {
		margin: 120px auto var(--xLarge) ;
		max-width: 1200px;
		width: 90%;

		@media(--tablet) {
			margin: 150px auto var(--xLarge) ;
		}
	}
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	font-size: 18px;
	line-height: inherit;
	padding: .5em 1em;
	font-weight: 400;
	border-radius: 5px;
	color: var(--White);
	background-color: var(--Purple);
	border: 2px solid var(--Pink);

	&:hover,
  &:focus {
		color: var(--White);
    background-color: var(--Pink);
  }
}
.woocommerce .products ul, .woocommerce ul.products {
	& li {
		&:before {
			display: none;
		}
	}
}
.woocommerce ul.products li.product a {
	&:hover,
  &:focus {
		& img {
			border-color: var(--Yellow);
			padding: 0;
		}
  }
}
.woocommerce ul.products li.product a img {
	margin: 0;
	border: 4px solid var(--Blue);
	padding: 1em;
	background-color: rgba(255,255,255,0.3);
	transition: .25s all linear;
}
.woocommerce .woocommerce-loop-product__title {
	color: var(--White);
	font-size: 24px !important;
}
.woocommerce ul.products li.product .price {
	color: var(--Yellow);
	font-family: 'Proxima Nova', sans-serif;
	font-size: 24px;
	font-weight: 300;
	line-height: 1;
}
body.woocommerce ul.products[class*="columns-"] li.product,
body.woocommerce-page ul.products[class*="columns-"] li.product {
	width: 100%;
}
body.woocommerce ul.products.columns-3 li.product,
body.woocommerce-page ul.products.columns-3 li.product {
	width: 100%;

	@media(--phone) {
		width: 48%;
	}

	@media(--tablet) {
		width: 30.75%;
	}
}
.woocommerce-info {
	border-top: none;
	background-color: var(--Yellow);

	&:before {
		color: var(--Blue);
		top: 50%;
		transform: translateY(-50%);
	}

	&:after {
		display: none;
	}

	& .button {
		order: 2;
		border-color: var(--Pink);
	}
}
.woocommerce-error, .woocommerce-message {
	border-top: none;
	background-color: var(--Yellow);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;

	&:before {
		color: var(--Blue);
		top: 50%;
		transform: translateY(-50%);
	}

	&:after {
		display: none;
	}

	& .button {
		order: 2;
		border-color: var(--Pink);
	}
}
/*----------------------------------------------------------------*\
	CART
\*----------------------------------------------------------------*/
body.woocommerce-page.woocommerce-cart {
	& main {
		margin: 0 auto var(--xLarge);

		& > article {
			margin: var(--Large) auto;

			& form.woocommerce-cart-form {
				max-width: inherit;

				& table {
					& thead {
						& .product-thumbnail {
							width: 116px;

							&:before {
								content: 'Product';
							}
						}

						& .product-name {
							color: transparent;
						}
					}
				}

				& a.remove {
					color: var(--Purple) !important;
					background-color: var(--Yellow);
					font-weight: 400;
					font-size: 22px;
					width: 24px;
					height: 24px;
					border-radius: 50%;
					padding: 0;
					font-family: a;
					border: none;
					margin-left: .5em;
				}

				& table.cart img {
					width: 50%;
					border: 2px solid var(--Blue);
					background-color: rgba(255,255,255,0.3);
					padding: 5px;

					@media(--tablet) {
						width: 92px;
					}
				}

				& .woocommerce-cart-form__cart-item {
					margin-bottom: 4em;

					@media(--tablet) {
						margin-bottom: 0;
					}

					& .product-thumbnail {
						display: block;
						text-align: left !important;

						@media(--tablet) {
							text-align: right !important;
						}
						
						&:before {
							display: none;
						}
					}
				}

				& .product-name {
					& a {
						color: var(--White);
						text-decoration: none;

						&:hover,
						&:focus {
							color: var(--Yellow);
							text-decoration: underline;
						}
					}
				}

				& .product-price,
				& .product-subtotal {
					& .woocommerce-Price-amount.amount {
						color: var(--Yellow);
					}
				}

				& .product-quantity {
					& .quantity {
						display: inline-block;
					}
				}

				& .product-remove {
					display: none;
				}

				& .coupon {
					padding-bottom: 2em;

					@media(--tablet) {
						padding-bottom: 0;
					}
				}

				& #coupon_code {
					width: 140px;
					margin: 7px 18px 0 0;
				}

				& table.cart td.actions .button {
					padding: .5em 1em;
				}
			}

			& .cart-collaterals {
				& .cart_totals {
					width: 100%;

					@media(--tablet) {
						width: 40%;
					}

					& h2 {
						margin-top: 1em;
					}

					& table.shop_table {
						font-size: 18px;

						& td {
							text-align: right;
							color: var(--Yellow);
						}

						& th {
							font-weight: 300;
						}

						& #shipping_method {
							& li {
								&:before {
									display: none;
								}

								& input {
									width: auto;
									margin-top: 5px;
									cursor: pointer;
								}

								& label {
									cursor: pointer;
								}
							}
						}
					}

					& .wc-proceed-to-checkout {
						& a.checkout-button {
							padding: .5em 1em;
							background-color: var(--Pink);
							border-color: var(--Pink);
							float: right;

							&:hover,
							&:focus {
								background-color: var(--Yellow);
								border-color: var(--Yellow);
								color: var(--Purple);
							}
						}
					}
				}
			}
		}
	}
}
/*----------------------------------------------------------------*\
	MY ACCOUNT
\*----------------------------------------------------------------*/
.woocommerce form .form-row #mailchimp_woocommerce_newsletter.input-checkbox {
	margin-right: 0;
	width: auto;
}

body.woocommerce-page.woocommerce-account {
	& main {
		margin: 0 auto var(--xLarge);

		& > article {
			margin: 0 auto;
		}

		& nav.woocommerce-MyAccount-navigation {
			& ul {
				& li {
					&:before {
						display: none;
					}
				}
			}
		}

		& .woocommerce-MyAccount-content {
			& h2 {
				margin-top: 0;
				margin-bottom: 0;
			}

			& .points {
				font-size: 26px;
				padding-left: 39px;

				& strong {
					&:before {
						width: 30px;
						height: 31px;
						left: -39px;
					}
				}

				& a {
					font-size: 12px;
				}
			}

			& h4 {
				margin-top: 0;
			}

			& section.issue-grid {
				grid-template-columns: 1fr;

				@media(--tablet) {
					grid-template-columns: repeat(2,1fr);
				}

				& h3 {
					grid-column-start: 1;
					grid-column-end: 1;
					margin-bottom: 0;

					@media(--tablet) {
						grid-column-end: 3;
					}
				}

				& .archive-result.issue.not-purchased {
					display: none;

					&.is-free {
						display: block;
					}
				}
			}
		}

		& .woocommerce {

			& mark {
				background-color: transparent;
				color: var(--White);
			}

			& .addresses .title h3 {
				margin-top: 0;
			}

			& table.my_account_orders {
				font-size: 1em;

				& a {
					color: var(--Yellow);
					text-decoration: none;

					&:hover,
					&:focus {
						text-decoration: underline;
					}

					&.button {
						color: var(--White);

						&:hover,
						&:focus {
							text-decoration: none;
						}
					}
				}
			}

			& a.edit {
				color: var(--Yellow);
				text-decoration: none;

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}

			& form.login,
			& form.register {
				border: none;
				padding: 0;
			}

			& form {
				& h3 {
					margin-top: 0;
				}
			}

			& #rememberme {
				width: auto;
			}

			& .col2-set .col-1,
			& .col2-set .col-2 {
				width: 100%;

				@media(--tablet) {
					width: 45%;
				}
			}
		}

		& #customer_login {
			& h2 {
				margin-top: 0;
			}
		}
	}
}
.woocommerce-table.woocommerce-table--order-details.shop_table.order_details a {
	color: var(--Yellow);
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}
/*----------------------------------------------------------------*\
	CHECKOUT
\*----------------------------------------------------------------*/
body.woocommerce-page.woocommerce-checkout {
	& main {
		margin: 0 auto var(--xLarge);

		& .woocommerce form.checkout_coupon {
			border: none;
			padding: 0;
		}

		& form.checkout {
			max-width: inherit;

			& #payment {
				& .wc_payment_methods {
					display: none;
				}

				& #woo_pp_ec_button_checkout {
					padding-top: 1.5em;
				}
			}
		}
	}
}
/*----------------------------------------------------------------*\
	CHECKOUT ORDER RECEIVED
\*----------------------------------------------------------------*/
body.woocommerce-order-received {
	& .woocommerce-order h3 {
		font-size: 30px;
	}

	& .woocommerce-thankyou-order-details {
		padding-left: 0;

		& li {
			&:before {
				display: none;
			}

			&.total {
				border-right: none;
			}

			&.method {
				display: none;
			}
		}
	}
}

#automatewoo_optin {
	width: auto;
}

.woocommerce-MyAccount-content .aw-communication-page .aw-communication-form__preference-checkbox {
	width: auto;
}