/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
.primary-navigation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;

	& nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin: 0 auto;
		padding: 1em 0;
		width: 90vw;

		& a.logo {
			display: flex;
			margin-right: auto;

			& svg {
				width: 150px;
				height: 49px;

				@media(--desktop) {
					width: 195px;
					height: 64px;
				}

				@media(--desktop) {
					width: 280px;
					height: 92px;
				}
			}
		}

		& #menu-primary-navigation {
			display: none;
			flex-wrap: wrap;
			padding-left: 0;
			margin: 0;

			@media(--desktop) {
				display: flex;
			}

			& li {
				padding: 0 1rem;

				&:before {
					display: none;
				}

				&.current-menu-item {
					& a {
						color: var(--Yellow);
					}
				}

				& a {
					font-family: 'Bangers', sans-serif;
					color: var(--White);
					letter-spacing: 1px;
					font-weight: 300;
					cursor: pointer;

					&:hover,
					&:focus {
						color: var(--Yellow);
					}
				}
			}
		}

		& .button,
		& button {
			margin: 0 .5rem;

			@media(--desktop) {
				margin: 0 1rem;
			}
		}

		& > a.button {
			display: none;

			@media(--desktop) {
				display: inline-block;
			}
		}

		& button.activate-search {
			display: none;
			border-radius: 50%;
			background-color: transparent;
			border: none;
			padding: 0;

			@media(--desktop) {
				display: block;
			}

			& svg {
				fill: var(--White);
				height: 22px;
				width: 24px;
			}
		}

		& a.cart {
			height: 50px;
			width: 50px;
			border-radius: 50%;
			background-color: var(--Yellow);
			margin: 0 .5rem;
			border: none;
			transition: all .25s linear;
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;

			@media(--desktop) {
				margin: 0 1rem;
			}

			&:hover,
			&:focus {
				background-color: var(--Blue);

				& svg {
					fill: var(--White);
				}
			}

			& svg {
				fill: var(--Blue);
				height: 18px;
				width: 20px;
			}
		}

		& button.activate-menu {
			height: 50px;
			width: 50px;
			border-radius: 50%;
			background-color: var(--Blue);
			border: none;
			margin-right: 0;
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;

			&:hover,
			&:focus {
				background-color: var(--Yellow);

				& svg {
					fill: var(--Blue);
				}
			}

			& svg {
				fill: var(--White);
				height: 18px;
				width: 14px;
				padding-top: 2px;
			}
		}
	}

	& .search-overlay {
		opacity: 0;
		visibility: hidden;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 999999;
		background-color: rgba(21,14,54,0.9);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		transition: .25s all linear;

		&.is-active {
			opacity: 1;
			visibility: visible;
		}

		& form {
			width: 340px;
		}

		& button[type="submit"] {
			margin-top: 1em;
			float: right;
		}
	}

	& .menu-overlay {
		opacity: 0;
		visibility: hidden;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 999999;
		background-color: rgba(21,14,54,0.9);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		transition: .25s all linear;

		&.is-active {
			opacity: 1;
			visibility: visible;
		}

		& > div {
			display: flex;
			flex-wrap: wrap;

			& > a.button {
				position: absolute;
				top: 1.5rem;
				left: 1rem;
				display: inline-block;

				@media(--tablet) {
					left: 2.8rem;
				}

				@media(--desktop) {
					top: 2.3rem;
					left: 4rem;
					display: none;
				}
			}

			& .menu-secondary-menu-container {
				width: 100%;
				margin-top: 3em;

				@media(--phone) {
					margin-top: 1em;
				}

				@media(--tablet) {
					width: 60%;
					margin-top: 0;
				}

				& #menu-secondary-menu {
					display: flex;
					flex-wrap: wrap;
					padding-left: 0;
					margin: 0;

					& li {
						padding: 0 1rem;
						width: 50%;
						font-size: 16px;

						@media(--phone) {
							font-size: 20px;
						}

						@media(--tablet) {
							font-size: 28px;
						}

						&:before {
							display: none;
						}

						&.current-menu-item {
							& a {
								color: var(--Yellow);
							}
						}

						& a {
							font-family: 'Bangers', sans-serif;
							color: var(--White);
							letter-spacing: 1px;
							font-weight: 300;

							&:hover,
							&:focus {
								color: var(--Yellow);
							}
						}
					}
				}
			}

			& .signup-card {
				width: 100%;
				margin-top: 1em;
				position: relative;

				@media(--tablet) {
					width: 40%;
					margin-top: 0;
				}

				& > div {
					width: 100%;
					height: 150px;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					align-content: center;
					justify-content: center;
					background-image: url('../images/issue-01.jpg');
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					border: 4px solid var(--Blue);
					box-shadow: 0 0 21px 0 rgba(27,27,27,0.8);

					@media(--phone) {
						height: 200px;
					}

					& a.button {
						border-color: var(--Pink);
					}
				}

				& h6 {
					margin: 1em 0 .5em;
				}

				& h4 {
					margin: 0;
				}

				& p {
					font-size: 14px;
					margin: .5em 0;
				}

				& button.activate-share-menu {
					border-radius: 50%;
					border: none;
					padding: 0;
					display: flex;
					justify-content: center;
					align-content: center;
					align-items: center;
					position: absolute;
					bottom: 2.5rem;
					right: 0;
					z-index: 2;

					&:hover,
					&:focus {
						color: var(--Yellow);
						background-color: transparent;

						& svg {
							fill: var(--Yellow);
						}
					}

					& svg {
						fill: var(--Blue);
						height: 24px;
						width: 24px;
					}
				}
			}
		}
	}

	& button.close {
		position: absolute;
		top: 1.5rem;
		right: 1rem;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: none;
		background-color: var(--Yellow);
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		padding: 0;

		@media(--tablet) {
			right: 2.8rem;
		}

		@media(--desktop) {
			top: 2.3rem;
			right: 4rem;
		}

		&:hover,
		&:focus {
			background-color: var(--Blue);

			& svg {
				fill: var(--White);
			}
		}

		& svg {
			width: 16px;
			height: 16px;
			fill: var(--Purple);
		}
	}
}
.sticky-navigation {
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--Purple);
	z-index: 99;
	padding: .5rem 0;
	border-top: 2px solid var(--Pink);

	@media(--tablet) {
		display: none;
	}

	& #menu-sticky-menu {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;
		margin: 0;

		& li {
			padding: 0 .6rem;
			font-size: 14px;

			@media(--phone) {
				font-size: 18px;
			}

			&:before {
				display: none;
			}

			&.current-menu-item {
				& a {
					color: var(--Yellow);
				}
			}

			& a {
				font-family: 'Bangers', sans-serif;
				color: var(--White);
				letter-spacing: 1px;
				font-weight: 300;

				&:hover,
				&:focus {
					color: var(--Yellow);
				}
			}
		}
	}

	& button.activate-search {
		height: 50px;
		width: 50px;
		background-color: transparent;
		border: none;

		& svg {
			fill: var(--White);
			height: 22px;
			width: 24px;
		}
	}
}